<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Photos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Photos for Analysis</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="upload-photo">
                <input type="file" name="file1" required>
                <input type="file" name="file2" required>
                <button type="submit">Upload and Analyze</button>
            </div>
        </form>
    </div>
</body>
</html>
